<?xml version="1.0" encoding="UTF-8"?>
<configuration>

		
  <connectionStrings>
    <add name="MyLocalSQLServer" connectionString="data source=127.0.0.1\SQL2012; user id=sa;password=pass; Initial Catalog=aspnetdb;" />
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
		<!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
      <httpRuntime executionTimeout="90" maxRequestLength="40960" />

    
      <!--
    
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->


      <authentication mode="Forms">
        <forms loginUrl="Acceso.aspx" timeout="30">
        </forms>
      </authentication>



      <authorization>
        <!--<deny users="?" />-->
        <allow users="?" />

      </authorization>
      <membership defaultProvider="MySqlMembershipProvider">
        <providers>
          <clear />
          <add name="MySqlMembershipProvider" requiresUniqueEmail="false" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" connectionStringName="MyLocalSQLServer" applicationName="MyAppName" passwordFormat="Hashed" requiresQuestionAndAnswer="false" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

        </providers>
      </membership>


      <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
      <sessionState mode="InProc" sqlConnectionString="data source=148.204.35.93\SQLEXPRESS; user id=sa;password=pass; Initial Catalog=curso" cookieless="false" timeout="20" />
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
      <!--
             passwordStrengthRegularExpression ="(?=.{4,})(?=(.*\d){1,})(?=(.*\W){1,})"
             -->
      <!--
    
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
      <customErrors mode="RemoteOnly" defaultRedirect="CustomError.aspx">
        <error statusCode="403" redirect="NoAccess.htm" />
        <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>
      <pages>

        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        </controls>
      </pages>
      <httpHandlers>
        <remove verb="*" path="*.asmx" />
        <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </httpHandlers>
      <httpModules>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </httpModules>
    </system.web>



    <location path="TEST3">
      <system.web>
        <authorization>
          <deny users="?" />
        </authorization>
      </system.web>
    </location>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".aspx" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>

  


</configuration>
